@import url("source/fonts/Kenia-Regular.ttf");
body {
    font-family: Kenia-Regular, serif;
    background: linear-gradient(90deg, #3030f1 0%, #6a6a6a 100%);
}
.navbar-toggler {
    background-color: white;
    color: #0000fd;
}
.nav-link {
    color: #0000fd;
}
.navbar-nav .nav-link.active {
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 0.5em;
}
.rang {
    background-color: #5d5d8a;
}
.config {
    font-size: 150px;
}
@media (max-width: 898px) {
    .config {
        font-size: 100px;
    }
}
@media (max-width: 597px) {
    .config {
        font-size: 50px;
    }
}
.img {
    border-style: none;
    border-radius: 0.5em;
}
.button {
    border-radius: 0.375em;
    margin-bottom: 0.5em;
    border-style: none;
    background-color: white;
}
.buttonp {
    margin: 5px;
}
.button > a {
    text-decoration: none;
    color: black;
}
.dinfo {
    color: #03f413;
}
.dopinfo {
    border-style: solid;
    border-style: none;
    border-radius: 0.375em;
    margin-top: 10px;
    background: linear-gradient(270deg, #3030f1 0%, #6a6a6a 100%);
}
section {
    padding-inline: 1em;
}
.btn {
    background-color: #5d5d8a;
    border-style: none;
}
.btn:hover {
    background-color: grey;
}
#carouselExampleIndicators {
    height: 500px;
    border-style: solid;
    border-color: #3030f1;
    border-radius: 0.375em;
    margin-top: 10px;
}
.uznat {
    text-decoration: none;
    border-style: none;
    border-radius: 0.375em;
    color: #3030f1;
    background-color: lime;
    padding: 5px;
    margin-left: 10px;
}
.inf {
    color: #03f413;
}
.infh {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.card-title {
    font-weight: bold;
}
@media (max-width: 767px) {
    .indexinfo {
        display: none;
    }
}
footer {
    font-size: 18px;
    background-color: white;
    margin-top: 1em;
    padding-top: 5px;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pomosh {
    background-color: rgb(14, 221, 14);
    border-style: solid;
    border-style: none;
    border-radius: 0.375em;
    margin-top: 10px;
    padding-inline: 5px;
}
.animation-img {
    animation: imgy 2s ease 0s infinity normal forwards;
    width: 40px;
    border-radius: 10em;
    margin-inline: 1em;
}
@keyframes imgy {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
@media (max-width: 576px) {
    .col-sm-4 {
        width: 33.33333333% !important;
    }
}
a {
    text-decoration: none;
}
hr {
    margin: 0;
}
.fi {
    margin: 0;
}
.contact,
.avtor,
.homiy,
.copy {
    border-left: solid;
    border-width: 0.5px;
    padding-left: 4px;
}
.tel {
    width: 50px;
    margin-bottom: 5px;
    animation: telAnim 2s ease-out 1s infinite normal forwards;
}

@keyframes telAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.pp {
    margin-bottom: 0;
}
